<div class="bgBeige">
<header>
    <a href="#"><img src="img/logo.svg" alt="Logo DIP Smokehouse American BBQ" width="267" height="150"></a>
    <nav>
        <ul>
            <li><a href="#">Menu<div class="material-icons-outlined">restaurant_menu</div></a></li>
            <li><a href="#">Boissons<div class="material-icons-outlined">sports_bar</div></a></li>
            <li class="spacer"></li>
            <li class="spacer"></li>
            <li><a href="#">Histoire<div class="material-icons-outlined">menu_book</div></a></li>
            <li><a href="#">Contact<div class="material-icons-outlined">email</div></a></li>
        </ul>
    </nav>
</header>
</div>