{{ define "main" }}
    <div class="splash pulledPork">
        <section>
            <h2>Venez déguster les recettes traditionelles de "l'American BBQ".<br><br>Notre fameux <strong>pulled pork</strong> est cuit pendant plusieurs heures à basse température et au smoker.<br><br>Pas de surcuisson, c'est la fumée et la chaleur qui viennent cuire notre viande à la perfection.<br><br>Nous vous proposons aussi nos spécialités <strong>Tex Mex</strong>, <strong>BAR-B-Q</strong> et <strong>Finger Food</strong> à partager.</h2>
        </section>
    </div>
    <div class="bgBeige">
        <section id="info1">
            <div>
                <h2>Une cuisson de la viande parfaite</h2>
                <p>Grâce à notre cuisson au smoker, la viande n'est pas agressée, et cuit lentement pendant plusieurs heures.<br>L'origine de nos viandes est affichée en restaurant.</p>
                <ul>
                    <li>🐷 Porc : pulled pork, ribs charnus</li>
                    <li>🐮 Boeuf : beef brisket, entrecôte, fajitas, chili</li>
                    <li>🐔 Poulet : buffalo wings, fajitas</li>
                </ul>
            </div>
            <div>
                <h2>Pour le midi, pour le soir</h2>
                <p>Que ce soit seul ou entre amis, avec vos collégues, venez découvrir notre carte de viandes smokées, tapas et finger food.<br>Le soir en sortant du bureau, venez déguster une de nos bières pression que nous avons soigneusement sélectionnées (* à consommer avec modération)</p>
                <a href="{{ ref . `menu` }}">
                    <span class="mio">restaurant_menu</span>
                    <span>Voir la carte</span>
                </a>
            </div>
        </section>
    </div>
    <div class="splash beers">
        <section>
            ~ Nos Bieres ~<br>
            Lager, IPA, Pale Ale, Ambree<br><br>
            <span>"La biere est la preuve que Dieu nous aime et veut que nous soyons heureux."<br>
                <i>Benjamin Franklin</i>
            </span>
        </section>
    </div>
    <div class="bgGrey">     
    <section id="info2">
        <div>
            <h2>Nos horaires<span class="mio">schedule</span></h2>
            <table>
                <tr>
                    <td>Lundi</td>
                    <td>12h00 <span>à</span> 14h30<br>17h30 <span>à</span> 22h30</td>
                </tr>
                <tr>
                    <td>Mardi</td>
                    <td>12h00 <span>à</span> 14h30<br>17h30 <span>à</span> 22h30</td>
                </tr>
                <tr>
                    <td>Mercredi</td>
                    <td>12h00 <span>à</span> 14h30<br>17h30 <span>à</span> 22h30</td>
                </tr>
                <tr>
                    <td>Jeudi</td>
                    <td>12h00 <span>à</span> 14h30<br>17h30 <span>à</span> 22h30</td>
                </tr>
                <tr>
                    <td>Vendredi</td>
                    <td>12h00 <span>à</span> 14h30<br>17h30 <span>à</span> 22h30</td>
                </tr>
                <tr>
                    <td>Samedi</td>
                    <td colspan="2"><span>Fermé</span></td>
                </tr>
                <tr>
                    <td>Dimanche</td>
                    <td colspan="2"><span>Fermé</span></td>
                </tr>
            </table>
        </div>
        <div>
            <h2>Venir manger<span class="mio">commute</span></h2>
            <p><strong>Notre adresse dans le quartier Saint Philippe :</strong><br> 
                200 Av. Roumanille<br>
                06410 Biot
            </p>
            <a href="https://goo.gl/maps/fJa7YNjTGv2WucVx5" title="Itinéraire vers notre restaurant" target="_blank" rel="noreferrer"><img src="img/googlemaps.jpg" width="700" height="700" alt="Itinéraire vers notre restaurant" loading="lazy"></a>
        </div>
    </section>
    </div>
    <div class="splash smoker">
    <section>
        <h2>" Une cuisson lente, au smoker, pour un gout incroyable "</h2>
    </section>
    </div>
{{ end }}