{{ define "main" }}
    <div class="splash pulledPork">
        <section>
            <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h2>
        </section>
    </div>
    <div class="bgBeige">
        <section id="info1">
            <div>
                <h2>Une cuisson de la viande parfaite</h2>
                <p>Grâce à notre cuisson au smoker, la viande n'est pas agressée, et cuit lentement pendant plusieurs heures.<br>L'origine de nos viandes est connue et reconnue:</p>
                <ul>
                    <li>🐷 Porc premium des Hauts-de-France</li>
                    <li>🐮 Boeuf de race Aubrac et Salers</li>
                    <li>🐔 Poulet élevé en plein air de xxx</li>
                </ul>
            </div>
            <div>
                <h2>Pour le midi, pour le soir</h2>
                <p>Que ce soit seul ou entre amis, avec vos collégues, venez découvrir notre carte de viandes smokées, tapas et finger food.<br>Le soir en sortant du bureau, venez déguster une de nos bières pression que nous avons soigneusement sélectionnées (* à consommer avec modération)</p>
                <a href="#">
                    <span class="material-icons-outlined">restaurant_menu</span>
                    <span>Voir la carte</span>
                </a>
            </div>
        </section>
    </div>
    <div class="splash beers">
        <section>
            ~ Nos Bieres ~<br>
            IPA, Lager, qualitee artisanale<br><br>
            <span>"La biere est la preuve que Dieu nous aime et veut que nous soyons heureux."<br>
                - Benjamin Franklin -
            </span>
        </section>
    </div>
    <div class="bgGrey">     
    <section id="info2">
        <div>
            <h2>Nos horaires<span class="material-icons-outlined">schedule</span></h2>
            <table>
                <tr>
                    <td>Lundi</td>
                    <td>11h30 <span>à</span> 14h30<br>18h30 <span>à</span> 22h30</td>
                </tr>
                <tr>
                    <td>Mardi</td>
                    <td>11h30 <span>à</span> 14h30<br>18h30 <span>à</span> 22h30</td>
                </tr>
                <tr>
                    <td>Mercredi</td>
                    <td>11h30 <span>à</span> 14h30<br>18h30 <span>à</span> 22h30</td>
                </tr>
                <tr>
                    <td>Jeudi</td>
                    <td>11h30 <span>à</span> 14h30<br>18h30 <span>à</span> 22h30</td>
                </tr>
                <tr>
                    <td>Vendredi</td>
                    <td>11h30 <span>à</span> 14h30<br>18h30 <span>à</span> 22h30</td>
                </tr>
                <tr>
                    <td>Samedi</td>
                    <td colspan="2"><span>Fermé</span></td>
                </tr>
                <tr>
                    <td>Dimanche</td>
                    <td colspan="2"><span>Fermé</span></td>
                </tr>
            </table>
        </div>
        <div>
            <h2>Venir manger<span class="material-icons-outlined">commute</span></h2>
            <p><strong>Notre adresse :</strong><br> 
                200 Av. Roumanille<br>
                06410 Biot
            </p>
            <img src="/img/googlemaps.jpg" width="676" height="676">
            
        </div>
    </section>
    </div>
    <div class="splash smoker">
    <section>
        <h2>" Smoked Meat for Happy People "<br>🥓🍖🍗🥩</h2>
    </section>
    </div>
{{ end }}