{{ define "main" }}
    <div class="splash pulledPork">
    <section>
        ENORME SPLASH SCREEN de nourriture
    </section>
    </div>
    <section>
        Fond uni : Déjeuner et Diner en semain, Apéro le soir
    </section>
    <section>
        SPLAH nourriture : "Nos viandes sont cuites au smoker pendant 8heures apportant une tendresse et une jutosité blah blah"
    </section>
    <section>
        FOND Uni :
        A gauche Nos horaires
        A droite Pla pour nous trouver, lien goole map
    </section>
    <section>
        Splah
    </section>
{{ end }}