{{ define "main" }}
<div class="bgMenu">
    <section id="boissons">
        <h2>Decouvrez nos boissons</h2>
        <table>
            <tr>
                <th>Bières pression</th>
                <th>25 cl</th>
                <th>50 cl</th>
            </tr>
            <tr>
                <td>SAN MIGUEL 5.0° type Lager blonde - Origine Espagne</td>
                <td>3,50 €</td>
                <td>6,30 €</td>
            </tr>
            <tr>
                <td>MORT SUBITE WITTE 5.5° ° type Blanche - Origine Belgique</td>
                <td>3,80 €</td>
                <td>6,80 €</td>
            </tr>
            <tr>
                <td>BROOKLYN 5.2° type Lager ambrée - Origine USA, New York</td>
                <td>4,00 €</td>
                <td>7,00 €</td>
            </tr>
            <tr>
                <td>LAGUNITAS 6.2° type IPA - Origine USA, Californie</td>
                <td>4,30 €</td>
                <td>7,90 €</td>
            </tr>
            <tr>
                <th colspan="3">Bières bouteilles</th>
            </tr>
            <tr>
                <td>CORONA 4.6° type Pale Lager - Origine Mexique (35,5 cl)</td>
                <td>5,90 €</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>DESPERADOS 5.9° type Pale Lager - Origine France (33 cl)</td>
                <td>5,70 €</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>BUD 5° type Lager – Origine USA, Missouri (33 cl)</td>
                <td>5,70 €</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>A LA FÛT 0.0° type Pale Ale - Origine France (33 cl)</td>
                <td>5,70 €</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <th>Vins</th>
                <th>Verre (12 cl)</th>
                <th>Bouteille (75 cl)</th>
            </tr>
            <tr>
                <th colspan="3">Rouge</th>
            </tr>
            <tr>
                <td>Cœur de raisin, IGP Méditerranée</td>
                <td>3,80 €</td>
                <td>19,00 €</td>
            </tr>
            <tr>
                <td>Les Caprices d'Antoine, AOP Côtes du Rhône</td>
                <td>4,40 €</td>
                <td>23,00 €</td>
            </tr>
            <tr>
                <td>La Cour des Dames - Pinot noir, IGP Pays d'Oc</td>
                <td>4,90 €</td>
                <td>27,00 €</td>
            </tr>
            <tr>
                <td>Trivento - Malbec, Argentine</td>
                <td>5,20 €</td>
                <td>29,00 €</td>
            </tr>
            <tr>
                <th colspan="3">Blanc</th>
            </tr>
            <tr>
                <td>Cœur de raisin, IGP Méditerranée</td>
                <td>3,80 €</td>
                <td>19,00 €</td>
            </tr>
            <tr>
                <td>La Princesse de Malijay, IGP Pays de Vaucluse</td>
                <td>4,40 €</td>
                <td>23,00 €</td>
            </tr>
            <tr>
                <td>La Cour des Dames – Chardonnay, IGP Pays d'Oc</td>
                <td>4,90 €</td>
                <td>27,00 €</td>
            </tr>
            <tr>
                <td>Châtellenie de Mistral, AOP Côtes de Provence</td>
                <td>5,20 €</td>
                <td>29,00 €</td>
            </tr>
            <tr>
                <th colspan="3">Rosé</th>
            </tr>
            <tr>
                <td>Cœur de raisin, IGP Méditerranée</td>
                <td>3,80 €</td>
                <td>19,00 €</td>
            </tr>
            <tr>
                <td>Mademoiselle de Provence, AOP Côtes de Provence</td>
                <td>4,40 €</td>
                <td>23,00 €</td>
            </tr>
            <tr>
                <td>Châtellenie de Mistral, AOP Côtes de Provence</td>
                <td>5,20 €</td>
                <td>29,00 €</td>
            </tr>
            <tr>
                <th colspan="3">Bulles</th>
            </tr>
            <tr>
                <td>Prosecco Brut DOC</td>
                <td>4,50 €</td>
                <td>25,00 €</td>
            </tr>
            <tr>
                <td>Champagne Jacquart Mosaïque Brut</td>
                <td>&nbsp;</td>
                <td>50,00 €</td>
            </tr>
            <tr>
                <th colspan="3">Apéritifs</th>
            </tr>
            <tr>
                <td>Kir Cassis ou Framboise</td>
                <td>4,50 €</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Ricard, Pastis (2 cl)</td>
                <td>3,00 €</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Martini Rouge, Blanc (5 cl)</td>
                <td>4,00 €</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Suze, Porto (5 cl)</td>
                <td>4,50 €</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <th colspan="3">Cocktails</th>
            </tr>
            <tr>
                <td>Spritz – Apérol ou Campari ou Duo</td>
                <td>8,00 €</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Margarita, Manhattan, Bloody Mary, Mojito, Espresso martini, Cosmopolitan, Bellini, Mimoza</td>
                <td>10,00 €</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <th>Spirits</th>
                <th>4 cl</th>
                <th>&nbsp;</th>
            </tr>
            <tr>
                <th colspan="3">Whiskey & Bourbon</th>
            </tr>
            <tr>
                <td>Jim Beam White Label</td>
                <td>7,00 €</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Canadian Club</td>
                <td>7,00 €</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Ballantines Finest</td>
                <td>7,00 €</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Jack Daniels</td>
                <td>8,00 €</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Bulleit Rye</td>
                <td>8,00 €</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <th colspan="3">Gin</th>
            </tr>
            <tr>
                <td>Tanqueray</td>
                <td>7,00 €</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Bombay Sapphire</td>
                <td>8,00 €</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <th colspan="3">Liqueur</th>
            </tr>
            <tr>
                <td>Limoncello Bordiga</td>
                <td>5,50 €</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Cointreau</td>
                <td>7,00 €</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Kahlua café</td>
                <td>7,00 €</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <th colspan="3">Rhum</th>
            </tr>
            <tr>
                <td>Pampero Blanco</td>
                <td>6,00 €</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Bacardi Oakheart</td>
                <td>7,00 €</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Diplomatico Reserve</td>
                <td>9,00 €</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <th colspan="3">Vodka</th>
            </tr>
            <tr>
                <td>Smirnoff</td>
                <td>6,00 €</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Zubrowka Bison</td>
                <td>6,00 €</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <th colspan="3">Tequila</th>
            </tr>
            <tr>
                <td>J.Cuervo Especial Reposado</td>
                <td>7,00 €</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>El Jimador Blanco</td>
                <td>8,00 €</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <th colspan="3">Cognac</th>
            </tr>
            <tr>
                <td>Hennessy VS</td>
                <td>11,00 €</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <th colspan="3">Soft drinks</th>
            </tr>
            <tr>
                <td>Coca-cola, Coca zéro, Limonade, Orangina, Schweppes indian tonic, Fuzetea pêche, Sprite, Perrier</td>
                <td>3,30 €</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Ginger beer Bundaberg (37,5 cl), Red bull (25 cl)</td>
                <td>4,00 €</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Diabolo 25 cl (parmi le choix de nos sirops)</td>
                <td>3,40 €</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Sirop à l'eau 25 cl (parmi le choix de nos sirops)</td>
                <td>2,00 €</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <th colspan="3">Jus de fruits</th>
            </tr>
            <tr>
                <td>Orange, Pomme, Abricot, Ananas, Pamplemousse, Tomate</td>
                <td>3,60 €</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <th>Eau</th>
                <th>50 cl</th>
                <th>100 cl</th>
            </tr>
            <tr>
                <td>Plate</td>
                <td>3,00 €</td>
                <td>4,00 €</td>
            </tr>
            <tr>
                <td>Gazeuse</td>
                <td>3,00 €</td>
                <td>4,00 €</td>
            </tr>
            <tr>
                <th colspan="3">Boissons chaudes</th>
            </tr>
            <tr>
                <td>Espresso</td>
                <td>1,80 €</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Double espresso</td>
                <td>3,30 €</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Café allongé</td>
                <td>1,80 €</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Cappuccino</td>
                <td>3,60 €</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Thé</td>
                <td>2,90 €</td>
                <td>&nbsp;</td>
            </tr>
        </table>
    </section>
</div>
{{ end }}