{{ define "main" }}
<div class="bgBeige">
    <section id="menu">
        <h2>Decouvrez notre menu</h2>
        <div>
        <h3>⭐ Entrées / à partager ⭐</h3>
        <ul>
            <li>
                <h4>NACHOS avec BOEUF TEX-MEX</h4><span>8,50 €</span><div>&nbsp;</div>
                <h4>NACHOS avec BBQ Pulled Pork</h4><span>8,50 €</span><div>&nbsp;</div>
                <h4>NACHOS Veggie</h4><span>6,50 €</span><div>🥦</div>
                <p>Tortilla chips, 3 cheeses sauce, jalapeño pickles, tomate, sour cream, guacamole</p>
            </li>
            <li>
                <h4>FIRECROQUETTES</h4><span>7,50 €</span><div>🔥 🔥 🥦</div>
                <p>Croquettes de macaroni, 3 cheeses sauce et piments forts</p>
            </li>
            <li>
                <h4>GUACAMOLE MAISON</h4><span>6,50 €</span><div>🔥 🥦</div>
                <p>Avocat, oignon rouge, ail, tomate, citron vert, sauce piment, coriandre</p>
            </li>
            <li>
                <h4>PADRON PEPPERS</h4><span>6,50 €</span><div>🥦</div>
                <p>Minis poivrons verts, grillés à l'huile d'olive et fleur de sel</p>
            </li>
            <li>
                <h4>BUFFALO WINGS - 5 pcs</h4><span>7,50 €</span><div></div>
                <h4>BUFFALO WINGS - 10 pcs</h4><span>7,50 €</span><div></div>
                <p>Wings enrobées de Sticky BBQ Sauce ou Hot Texas BBQ, servies avec Blue chesse sauce et céleri sticks</p>
            </li>
            <li>
                <h4>GARLIC BREAD</h4><span>5,50 €</span><div>🥦</div>
                <p>Pain baguette tartiné de beurre à l'ail et au persil passé au four, croustillant et délicieux</p>
            </li>
        </ul>
        </div>
        <div>
        <h3>⭐ TEX-MEX ⭐</h3>
        <ul>
            <li>
                <h4>BEEF CHILLI</h4><span>13,50 €</span><div>🔥</div>
                <p>Chilli con carne du pit master, serci avec tortilla chips; quartiers citron vert, coriandre, cheddar râpé et sour cream</p>
            </li>
            <li>
                <h4>NACHOS XXL avec BOEUF TEX-MEX</h4><span>14,50 €</span><div>&nbsp;</div>
                <h4>NACHOS XXL avec BBQ Pulled Pork</h4><span>14,50 €</span><div>&nbsp;</div>
                <h4>NACHOS XXL Veggie</h4><span>12,50 €</span><div>🥦</div>
                <p>Tortilla, 3 cheeses sauce, jalapeño pickles, tomate, sour cream, guacamole</p>
            </li>
            <li>
                <h4>FAJITAS POULET OU BOEUF</h4><span>14,50 €</span><div></div>
                <p>Tortilla, poivrons grillés, oignon rouge, tomate, cheddar râpé, coriandre, citron vert, sauce piment (ou pas), sour cream</p>
            </li>
            <li>
                <h4>FAJITAS POULET OU BOEUF</h4><span>14,50 €</span><div>🥦</div>
                <p>Tortilla, poivrons grillés, haricot BBQ, oignon rouge, tomate, cheddar râpé, coriandre, citron vert, sauce piment (ou pas), sour cream, guacamole</p>
            </li>
        </ul>
        </div>
        <div>
            <strong>Légende :</strong><br>
             🥦 plat végétarien<br>
             🔥 ça pique un peu !<br>
             🔥 🔥 ça pique beaucoup !!<br>
             🔥 🔥 🔥 "Fuyez pauvre fou !!!", la direction n'est plus responsable
        </div>
    </section>
</div>
{{ end }}