{{ define "main" }}
<div class="bgMenu">
    <section id="menu">
        <h2>Decouvrez notre menu</h2>
        <div>
            <h3>⭐ Entrées / à partager ⭐</h3>
            <ul>
                <li>
                    <h4>NACHOS avec BOEUF TEX-MEX</h4><span>9,90 €</span><div><img src="img/picto_flame.png" width="67" height="118" alt="Plat épicé"></div>
                    <h4>NACHOS avec BBQ Pulled Pork</h4><span>9,90 €</span><div>&nbsp;</div>
                    <h4>NACHOS Veggie</h4><span>7,90 €</span><div><img src="img/picto_dead.png" width="117" height="118" alt="Plat végétarien"></div>
                    <p>Tortilla chips, 3 cheeses sauce, jalapeño pickles, tomate, sour cream, guacamole</p>
                </li>
                <li>
                    <h4>GUACAMOLE MAISON</h4><span>8,90 €</span><div><img src="img/picto_flame.png" width="67" height="118" alt="Plat épicé"><img src="img/picto_dead.png" width="117" height="118" alt="Plat végétarien"></div>
                    <p>Avocat, oignon rouge, ail, tomate, citron vert, sauce piment, coriandre</p>
                </li>
                <li>
                    <h4>PADRON PEPPERS</h4><span>7,90 €</span><div><img src="img/picto_dead.png" width="117" height="118" alt="Plat végétarien"></div>
                    <p>Minis poivrons verts, grillés à l'huile d'olive et fleur de sel</p>
                </li>
                <li>
                    <h4>BUFFALO WINGS - 5 pcs</h4><span>9,90 €</span><div></div>
                    <h4>BUFFALO WINGS - 10 pcs</h4><span>15,90 €</span><div></div>
                    <p>Wings enrobées de Sticky BBQ sauce</p>
                </li>
                <li>
                    <h4>GARLIC BREAD</h4><span>5,90 €</span><div><img src="img/picto_dead.png" width="117" height="118" alt="Plat végétarien"></div>
                    <p>Pain baguette tartiné de beurre à l'ail et au persil passé au four, croustillant et délicieux</p>
                </li>
            </ul>
        </div>
        <div>
            <h3>⭐ TEX-MEX ⭐</h3>
            <ul>
                <li>
                    <h4>BEEF CHILI</h4><span>16,90 €</span><div><img src="img/picto_flame.png" width="67" height="118" alt="Plat épicé"></div>
                    <p>Chili con carne du pit master, servi avec tortilla chips, quartiers citron vert, coriandre, cheddar râpé et sour cream</p>
                </li>
                <li>
                    <h4>NACHOS XXL avec BOEUF TEX-MEX</h4><span>15,90 €</span><div><img src="img/picto_flame.png" width="67" height="118" alt="Plat épicé"></div>
                    <h4>NACHOS XXL avec BBQ Pulled Pork</h4><span>15,90 €</span><div>&nbsp;</div>
                    <h4>NACHOS XXL Veggie</h4><span>13,90 €</span><div><img src="img/picto_dead.png" width="117" height="118" alt="Plat végétarien"></div>
                    <p>Tortilla, 3 cheeses sauce, jalapeño pickles, tomate, sour cream, guacamole</p>
                </li>
                <li>
                    <h4>FAJITAS POULET OU BOEUF</h4><span>15,90 €</span><div></div>
                    <p>Tortilla, poivrons grillés, oignon rouge, tomate, cheddar râpé, coriandre, citron vert, sauce piment (ou pas), sour cream, guacamole</p>
                </li>
                <li>
                    <h4>FAJITAS VEGGIE</h4><span>13,90 €</span><div><img src="img/picto_dead.png" width="117" height="118" alt="Plat végétarien"></div>
                    <p>Tortilla, poivrons grillés, haricots rouges, oignon rouge, tomate, cheddar râpé, coriandre, citron vert, sauce piment (ou pas), sour cream, guacamole</p>
                </li>
            </ul>
        </div>
        <div>
            <h3>⭐ BAR-B-Q SPÉCIALITÉS ⭐</h3>
            <p>Smoked fresh on-site every day - Dans la limite des stocks disponibles<br>
                Garnitures : pickles et coleslaw
            </p>
            <ul>
                <li>
                    <h4>BBQ Pulled Pork</h4><span>14,90 €</span><div>&nbsp;</div>
                    <p>Effiloché de porc, fumé de longues heures. Gourmand et fondant</p>
                </li>
                <li>
                    <h4>ST LOUIS STYLE RIBS standard</h4><span>14,90 €</span><div>&nbsp;</div>
                    <h4>ST LOUIS STYLE RIBS XL</h4><span>16,90 €</span><div>&nbsp;</div>
                    <p>Servis à l'os, gros ribs charnus coupés dans la poitrine</p>
                </li>
                <li>
                    <h4>KANSAS CHICKEN</h4><span>14,90 €</span><div>&nbsp;</div>
                    <p>Cuisse de poulet assaisonnée western et 2 wings, cuites dans notre smoker</p>
                </li>
                <li>
                    <h4>SMOKEHOUSE FESTIN</h4><span>22,90 €</span><div>&nbsp;</div>
                    <p>2 os de St Louis Style Ribs, 2 Buffalo Wings et BBQ Pulled Pork</p>
                </li>
                <li>
                    <h4>LA PIÈCE DEL BANDIDO </h4><span>22,90 €</span><div>&nbsp;</div>
                    <p>Belle entrecôte de boeuf simmental de 300g, assaisonnée western et grillée</p>
                </li>
            </ul>
        </div>
        <div>
            <h3>⭐ BURGERS & SANDWICHES ⭐</h3>
            <ul>
                <li>
                    <h4>CHEESE BURGER</h4><span>11,90 €</span><div>&nbsp;</div>
                    <p>Beef burger, cheddar, salade, tomate, oignon rouge, cornichons, American sauce</p>
                </li>
                <li>
                    <h4>CLASSIC PULLED PORK SANDWICH</h4><span>11,90 €</span><div>&nbsp;</div>
                    <p>Effiloché de porc fumé, coleslaw, red oinion pickles, cornichons</p>
                </li>
                <li>
                    <h4>BACON CHEESEBURGER</h4><span>12,90 €</span><div>&nbsp;</div>
                    <p>Beef burger, cheddar, bacon, salade, tomate, oignon rouge, cornichons, American sauce</p>
                </li>
                <li>
                    <h4>CRAZY-ASS BURGER</h4><span>12,90 €</span><div><img src="img/picto_flame.png" width="67" height="118" alt="Plat épicé"><img src="img/picto_flame.png" width="67" height="118" alt="Plat épicé"></div>
                    <p>Beef burger, cheddar, avocat, salade, jalapeño pickles, oignon rouge, coriandre, spicy mayonnaise</p>
                </li>
                <li>
                    <h4>MAC ATTACK PULLED BURGER</h4><span>14,90 €</span><div>&nbsp;</div>
                    <p>Beef burger, Mac'n'cheese, effiloché de porc fumé, coleslaw, red oinion pickles, Sticky BBQ Sauce</p>
                </li>
                <li>
                    <h4>DOUBLE BACON CHEESEBURGER</h4><span>14,90 €</span><div>&nbsp;</div>
                    <p>Double the bacon, double the cheese, double the meat, double the fun</p>
                </li>
            </ul>
            <p><img src="img/picto_dead.png" width="117" height="118" alt="Plat végétarien" class="emoji"> (Demandez votre burger style veggie avec notre steak végétarien, supplément 1 €)</p>
        </div>
        <div>
            <h3>⭐ ACCOMPAGNEMENTS ⭐</h3>
            <ul>
                <li>
                    <h4>FRITES</h4><span>4,50 €</span><div><img src="img/picto_dead.png" width="117" height="118" alt="Plat végétarien"></div>
                </li>
                <li>
                    <h4>COLESLAW</h4><span>4,00 €</span><div><img src="img/picto_dead.png" width="117" height="118" alt="Plat végétarien"></div>
                </li>
                <li>
                    <h4>MAC ‘N’ CHEESE</h4><span>5,50 €</span><div><img src="img/picto_dead.png" width="117" height="118" alt="Plat végétarien"></div>
                    <p>Gratin de macaroni, 3 cheeses sauce et cheddar râpé</p>
                </li>
                <li>
                    <h4>WEDGE SALAD</h4><span>5,00 €</span><div><img src="img/picto_dead.png" width="117" height="118" alt="Plat végétarien"></div>
                    <p>Iceberg salade, tomate, noix, blue cheese sauce, parmesan, ciboulette</p>
                </li>
                <li>
                    <h4>CHEESY FRITES</h4><span>5,50 €</span><div><img src="img/picto_dead.png" width="117" height="118" alt="Plat végétarien"></div>
                    <p>Recouvertes de notre fameuse 3 cheeses sauce</p>
                </li>
                <li>
                    <h4>TEXAS CAVIAR</h4><span>5,00 €</span><div><img src="img/picto_flame.png" width="67" height="118" alt="Plat épicé"><img src="img/picto_dead.png" width="117" height="118" alt="Plat végétarien"></div>
                    <p>Grains de maïs chaud, poivron rouge, oignon jeune, jalapeño pickles, huile d’olive, citron vert, fleur de sel</p>
                </li>
            </ul>
        </div>
        <div>
            <h3>⭐ SALADES ⭐</h3>
            <ul>
                <li>
                    <h4>SMOKY CAESAR SALAD</h4><span>15,90 €</span><div>&nbsp;</div>
                    <p>Filet de poulet cuit dans notre smoker, salade romaine, croûtons briochés, oeuf, bacon, copeaux de parmesan et sauce Caesar à l'anchois</p>
                </li>
            </ul>
        </div>
        <div>
            <h3>⭐ DESSERTS ⭐</h3>
            <p><span>Boule de glace en extra pour votre dessert 2€00</span></p>
            <ul>
                <li>
                    <h4>GLACES 2 BOULES (au choix)</h4><span>5,90 €</span><div>&nbsp;</div>
                    <h4>GLACES 3 BOULES (au choix)</h4><span>7,90 €</span><div>&nbsp;</div>
                </li>
                <li>
                    <h4>CHEESECAKE CITRON VERT</h4><span>7,90 €</span><div>&nbsp;</div>
                </li>
                <li>
                    <h4>TIRAMISU DIP</h4><span>7,90 €</span><div>&nbsp;</div>
                </li>
                <li>
                    <h4>BROWNIE AU CHOCOLAT</h4><span>7,90 €</span><div>&nbsp;</div>
                </li>
            </ul>
        </div>
        <div>
            <h3>⭐ NOS SAUCES MAISON ⭐</h3>
            <p><span>Sauce 1,00 €</span></p>
            <ul>
                <li>
                    <h4>STICKY BBQ SAUCE</h4><span>&nbsp;</span><div>&nbsp;</div>
                    <p>A sweet and sticky classic BBQ sauce</p>
                </li>
                <li>
                    <h4>MOUTARDE BBQ SAUCE</h4><span>&nbsp;</span><div>&nbsp;</div>
                </li>
                <li>
                    <h4>BLUE CHEESE SAUCE</h4><span>&nbsp;</span><div>&nbsp;</div>
                </li>
                <li>
                    <h4>HOT TEXAS BBQ SAUCE</h4><span>&nbsp;</span><div><img src="img/picto_flame.png" width="67" height="118" alt="Plat épicé"><img src="img/picto_flame.png" width="67" height="118" alt="Plat épicé"><img src="img/picto_flame.png" width="67" height="118" alt="Plat épicé"></div>
                    <p>We’re not messing about here, it’s f*cking hot</p>
                </li>
                <li>
                    <h4>SPICY MAYONNAISE</h4><span>&nbsp;</span><div><img src="img/picto_flame.png" width="67" height="118" alt="Plat épicé"></div>
                </li>
                <li>
                    <h4>AMERICAN SAUCE</h4><span>&nbsp;</span><div>&nbsp;</div>
                </li>
            </ul>
        </div>
        <div>
            <strong>Légende :</strong>
            <p><img src="img/picto_dead.png" width="117" height="118" alt="Plat végétarien" class="emoji"> plat végétarien</p>
            <p><img src="img/picto_flame.png" width="67" height="118" alt="Plat épicé" class="emoji"> ça pique un peu !</p>
            <p><img src="img/picto_flame.png" width="67" height="118" alt="Plat épicé" class="emoji"><img src="img/picto_flame.png" width="67" height="118" alt="Plat épicé" class="emoji"> ça pique beaucoup !!</p>
            <p><img src="img/picto_flame.png" width="67" height="118" alt="Plat épicé" class="emoji"><img src="img/picto_flame.png" width="67" height="118" alt="Plat épicé" class="emoji"><img src="img/picto_flame.png" width="67" height="118" alt="Plat épicé" class="emoji"> "Fuyez pauvre fou !!!", la direction n'est plus responsable</p>
        </div>
    </section>
</div>
{{ end }}